doctype html
html(lang='en', ng-app='LoLWinLose')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title LoL Win or Lose
    
    script(type='text/javascript', src='/jquery/dist/jquery.min.js')
    script(src='/angular/angular.min.js')
    script(src='/angular-ui-router/release/angular-ui-router.min.js')
    script(type='text/javascript', src='/bootstrap/dist/js/bootstrap.min.js')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')

    //init angular module
    script(src='/js/app.js', type='text/javascript')
    
    //angular services/factories
    script(src='/js/providers/apiGet.js', type='text/javascript')

    //angular controllers
    script(src='/js/controllers/mainCtrl.js', type='text/javascript')
    
    //style sheets
    link(href='/stylesheets/main.css', rel='stylesheet')

