a(href="/auth/facebook" class="btn btn-primary")
	span(class="fa fa-facebook") Facebook
form(action='/login',method='post')
	input(ng-model = "email" type="text" value="", name="email")
	input(ng-model = "password" type="text" value="", name="password")
	input(type='submit',value='Login')
