form(action='/signup',method='post')
	input(ng-model = "email" type="text" value="", name="email")
	input(ng-model = "password" type="text" value="", name="password")
	input(type='submit',value='Sign Up')
