#showTripsListBttn(class="btn btn-primary" ng-click="getTrips()") Get List of Trips

#tripsList(ng-repeat="trip in tripsList")
	#tripName {{trip.name}}
	#tripDescription {{trip.description}}
	#deleteBttn(class="btn btn-primary" ng-click="deleteTrip($index)") Delete
	#editBttn(class="btn btn-primary" ng-click="editTrip($index)") Edit